* {
  margin: 0;
  padding: 0;

}

footer {
  padding: 2rem;
  background-color: black;
  color: #fff;
}
.Shopping-status {
  display: flex;
  flex-direction: row-reverse;
  color: white;
}
.Shopping-status span {
  /* padding: 1rem; */
  margin-left: .5rem;
}
.p-1 {
  color: white;
  /* padding: 1rem; */
}
/* .Products-list {

} */

.Product-hook {
  padding: 2rem;
  /* overflow: none; */
  border: .2rem solid gold;
 
}
.Product-hook img {
  /* display: block; */
  width: 100%;
}


.Product-hook button {
  display: block;
  padding: 1rem 2rem;
  margin: 1rem auto;
  background-color: #000000;
  border: none;
  border-radius: 1rem;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



header {
  padding: 1rem;
  background-color: black;
}

header h1 {
  text-align: center;
  padding: 1rem;
  color: #f3cd14;
  font-family: 'Tangerine', cursive;
  font-size: 3rem;
  text-shadow: 4px 4px 4px #e4e635;
}

