* {
  margin: 0;
  padding: 0;

}

.Product-hook {
  padding: 2rem;
  /* overflow: none; */
  border: .2rem solid gold;
 
}
.Product-hook img {
  /* display: block; */
  width: 100%;
}
.Product-hook button {
  display: block;
  padding: 1rem 2rem;
  margin: 1rem auto;
  background-color: #000000;
  border: none;
  border-radius: 1rem;
}
.App {

}

.Shopping-status {
  display: flex;
  flex-direction: row-reverse;
}

.p-1 {
  color: white;
}
.App-header {
  
  padding: 2rem;
  background-color: black;
  
  
}
.App-header h1 {
  text-align: center;
  padding: 2rem;
  color: #f3cd14;
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
  text-shadow: 4px 4px 4px #e4e635;
}

